.accordion {
    background: darken($color: #FFE2C8, $amount: 5);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
    
    &-img {
        border: #D1820C 3px solid;
        border-radius: 50%;
        margin: 17px 0 20px 0;
        height: 80px;
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        margin: 20px 0;
        
        & > div {
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 0.8rem;
        }
    }
}