.btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    font-weight: bold;
    transition: all 400ms ease-in-out;
    
    &--cta {
        color: $tertiary-color;
        border: 3px solid $tertiary-color;
    }

    &--accordion {
        color: #D1820C;
        border: 3px solid #D1820C;
        min-height: 40px;

        &-man {
            color: $primary-color;
            border: 3px solid $primary-color;
            min-height: 40px;
        }
    }
}