.modal {
    display: none;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    &--woman {
        background: #C9B09A;
    }

    &--man {
        background: $secondary-color;
    }

    // &::-webkit-scrollbar {
    //     display: none;
    // }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 200px;
        padding: 20px 20px;
        position: sticky;
        top: 0;
        
        &--woman {
            background: linear-gradient(180deg, rgba(201, 176, 154, 0.21) 0%, #C9B09A 90%), 
            url('../../assets/images/bg_card_woman.jpg') no-repeat center/cover;
            box-shadow: 0px 50px 35px 0px #c9b09a;
        }
        &--man {
            background: linear-gradient(180deg, rgba(240, 240, 240, 0.21) 0%, $secondary-color 80%), 
            url('../../assets/images/bg_card_man.jpg') no-repeat center/cover;
            box-shadow: 0px 50px 35px 0px $secondary-color;
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        align-self: flex-start;
        cursor: pointer;
        transition: background 300ms ease-in-out;
        &:hover {
            background: $tertiary-color;
        }
        &-cross {
            color: $secondary-color;
            font-size: 2.2rem;
            transition: color 450ms ease-in-out;
            &:hover {
                color: $primary-color;
            }
        }
    }

    &-title {
        font-size: 1.8rem;
        align-self: center;
        margin-top: 10px;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        &__services {
            // width: 100%;
            display: flex;
            flex-direction: column;
            // gap: 3px;
            &-title {
                font-size: 1.2rem;
                color: $secondary-color;
                margin: 10px 20px;

                &--man {
                    color: $primary-color;
                }
            }
            &-items {
                display: flex;
                flex-direction: column;
                background: #FFE2C8;
                padding: 10px 20px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }

                &--man {
                    background: darken($secondary-color, $amount: 10);
                }
            }
            &-text {
                display: flex;
                flex-direction: column;
                & > span {
                    color: #D1820C;
                }
            }
            &-info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                
            }
        }
    }
}