@keyframes shakes {
    0% {
        transform: rotateZ(0);
    }
    1% {
        transform: rotateZ(-3deg);
    }
    2% {
        transform: rotateZ(3deg);
    }
    3% {
        transform: rotateZ(0);
    }
    4% {
        transform: rotateZ(-3deg);
    }
    5% {
        transform: rotateZ(3deg);
    }
    6% {
        transform: rotateZ(0);
    }
}

.btn {
    &--shakes {
        animation: shakes 5s ease-in-out .5s infinite normal forwards;
        &:hover {
            animation-iteration-count: initial;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    70% {
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal {
    animation: appear 0.6s ease-in-out 200ms normal both;
}