.section-title {
    text-align: center;
    margin: 40px 0;

    &--promo {
        color: $tertiary-color;
    }
}

.hero {
    padding-top: 70px;
    background: url('../../assets/images/background/bg_small/bg_small.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.services {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--man {
            background: $secondary-color;
            color: $primary-color;
        }
    }
}