.hero {
    padding-top: 70px;
    background: url('../../assets/images/background/bg_small/bg_small.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // flex-direction: column-reverse;
}